.pjSheet{
	border: solid green 1px;
	/*background-image: url("../img/bgtarea3.jpg");*/
}

.namepj{
	background-color: transparent!important;
	border: solid black 2px;
}


.statGen{

	padding-top: 20px;
}

.atriTable{

	padding-bottom: 20px;
}

.headTable{

	padding-bottom: 20px;
}

.margin_arriba{
	margin-top: 30px;
}

.untochable{
	pointer-events: none;

}

#cajaFinal>div{
	border: 1px red solid;
	margin-bottom: 5px;
}

#cajaFinal img{
	height: 120px;
	width: 100%;
}

.sexy-img{
	position: relative!important;
}